.toast-container {
    position: fixed;
    top: 20px;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 2147483647;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.toast {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    transform: translateY(0);
    animation: fadeUp 0.5s ease forwards;

    &.fade-out {
        animation: fadeDown 0.5s ease forwards;
    }

    &.success {
        border: 1px solid #3fb46a;
        color: #2aad5b;
        background-color: rgb(125, 217, 159);
    }
    &.error {
        border: 1px solid #e35050;
        color: #e35050;
        background-color: rgb(227, 122, 122);
    }
    &.info {
        border: 1px solid #2563eb;
        color: #2563eb;
        background-color: rgb(113, 146, 223);
    }
    &.warning {
        border: 1px solid #ca8a04;
        color: #ca8a04;
        background-color: rgb(223, 178, 100);
    }

    .toast-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;

        .icon {
            font-size: 20px;
            margin-right: 10px;

            &.success::before {
                content: "✔";
            }
            &.error::before {
                content: "✖";
            }
            &.info::before {
                content: "ℹ";
            }
            &.warning::before {
                content: "⚠";
            }
        }

        .type {
            font-weight: bold;
            text-transform: capitalize;
            flex-grow: 1;
        }

        .close-btn {
            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
            margin-left: 10px;
            transition: color 0.3s ease;
        }
    }

    .toast-body {
        .message {
            display: block;
        }
    }
}
