<div class="project-details-container">
  <app-button variant="link" class="back-button" (click)="navigateBack()" [icon]="icons.arrowLeft">Back</app-button>
  <div class="project-tabs">
    <div class="project-tabs__left">
      <a routerLink="overview" routerLinkActive="active-tab">Project Overview</a>
      @if ((canManageProject$ | async)) {
        <a routerLink="feedback" routerLinkActive="active-tab">Feedback</a>
      }
      <a routerLink="members" routerLinkActive="active-tab">Members</a>
      @if ((canManageProject$ | async)) {
        <a routerLink="applications" routerLinkActive="active-tab">Applications</a>
      }
        @if ((isTeacher$ | async)) {
        <a routerLink="events" routerLinkActive="active-tab">Events</a>
        }
    </div>
    <div class="project-tabs__right">
      @if ((canManageProject$ | async)) {
        <a routerLink="edit" routerLinkActive="active-tab">
          <img src="icons/gear.svg" alt="Edit Project"  class="icon"/>
        </a>
      }
    </div>
  </div>

  <!-- Router Outlet to Load Child Components -->
  <div class="project-content">
    <router-outlet></router-outlet>
  </div>
</div>
